*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden; }

a,
a:visited {
  text-decoration: none !important; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 596px) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.header {
  display: flex;
  width: 100vw;
  background-color: #1a2238;
  justify-content: space-between;
  align-items: center;
  padding: 3rem; }
  .header__left {
    display: flex;
    flex-direction: column; }
    .header__left--logo {
      font-size: 4rem;
      font-family: "Oswald", sans-serif;
      font-weight: 800;
      color: #f7f7f7; }
      .header__left--logo--blue {
        color: #9daaf2; }
      .header__left--logo--in {
        color: #9daaf2;
        font-size: 2.6rem;
        font-family: "Oswald", sans-serif;
        font-weight: 800;
        margin-top: -1.6rem;
        margin-left: 6rem; }
  .header__right {
    width: max-content;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem; }
    .header__right--phone {
      display: flex;
      margin-right: 3rem;
      padding-bottom: 1rem; }
      .header__right--phone--icon {
        color: #ff6a3d;
        font-size: 2.2rem;
        margin-right: 2rem; }
      .header__right--phone--number {
        color: #f7f7f7;
        text-decoration: none;
        border: none; }
    .header__right--email {
      display: flex; }
      .header__right--email--address {
        color: #f7f7f7;
        text-decoration: none;
        border: none; }
      .header__right--email--icon {
        color: #ff6a3d;
        font-size: 2.2rem;
        margin-right: 2rem; }

.save {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f7f7f7; }
  .save__title {
    font-size: 3rem;
    font-weight: 800; }
  .save__subtext {
    font-size: 1.4rem;
    text-align: center;
    width: 100%; }
    .save__subtext--link {
      font-size: 1.6rem;
      padding-top: 2rem;
      font-weight: 800;
      text-align: center;
      width: 100%;
      color: #ff6a3d; }
      .save__subtext--link:hover {
        color: #9daaf2;
        cursor: pointer; }
  .save__grid {
    width: 100%;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    text-align: center; }
    @media (max-width: 596px) {
      .save__grid {
        width: auto; } }
    .save__grid--item {
      font-size: 2.5rem;
      padding: 0.6rem 0; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 6rem; }
  .services__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 3rem; }
  @media (max-width: 596px) {
    .services__neg-margin--bottom {
      padding-bottom: 0; } }
  @media (max-width: 596px) {
    .services__neg-margin--right {
      margin-right: 1rem; } }
  .services__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 52rem;
    height: 29rem;
    background-color: #1a2238;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2); }
    @media (max-width: 596px) {
      .services__container {
        width: 42.2rem;
        height: 25rem; } }
  .services__left {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    height: 100%;
    justify-content: space-between;
    width: 50%;
    color: #f7f7f7; }
    @media (max-width: 596px) {
      .services__left {
        padding: 1rem 0rem 1rem 1.5rem; } }
    .services__left--name {
      display: flex;
      flex-direction: column;
      font-size: 2.5rem; }
    .services__left--title {
      font-size: 1.6rem; }
  .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    font-size: 1.6rem; }
  .services__contact {
    font-size: 1.6rem; }
  .services__right {
    width: 50%;
    margin-right: 1rem; }
    @media (max-width: 596px) {
      .services__right {
        margin-right: 0; } }
    .services__right--circle {
      height: 25rem;
      width: 25rem;
      border-radius: 100rem;
      object-fit: cover; }
      @media (max-width: 596px) {
        .services__right--circle {
          width: 20rem;
          height: 20rem; } }

.contact {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding-top: 3rem;
  padding-bottom: 4rem; }
  .contact__form {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    text-align: center;
    padding-top: 2rem; }
    .contact__form--wrapper {
      width: 100%; }
      @media (max-width: 596px) {
        .contact__form--wrapper {
          width: auto; } }
    .contact__form--button {
      display: block;
      height: 4rem;
      width: 18rem;
      border: none;
      background-color: #ff6a3d;
      color: #f7f7f7;
      border-radius: 10rem;
      font-size: 2rem;
      font-weight: 800;
      margin-left: auto;
      margin-right: auto;
      -webkit-appearance: none; }
    .contact__form--success {
      font-size: 3rem;
      font-weight: 800;
      color: #ff6a3d;
      text-align: center;
      width: 100%; }
    .contact__form--group {
      height: 8rem; }
    .contact__form--label {
      display: inline-flex;
      width: 9rem;
      margin-right: 2rem;
      font-size: 2rem; }
    .contact__form--input {
      border: none;
      border-bottom: 2px solid #000000;
      border-top: 2x solid #ffffff00;
      width: 30rem;
      outline: none;
      background-color: #f7f7f7;
      font-size: 2rem;
      transition: all 0.3s; }
      .contact__form--input:focus {
        border-bottom: 2px solid #ff6a3d; }

.footer {
  display: flex;
  width: 100vw;
  background-color: #1a2238; }
  .footer__left {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f7f7f7;
    font-size: 1.6rem; }
    .footer__left--copyright {
      margin: 2rem 0 2rem 2rem; }
    .footer__left--site {
      margin: 0 0 2rem 2rem; }
