@import "./variables";

.carousel {
  position: relative;
  width: 100%;
  height: max-content;
  font-weight: 800;
  &__left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;

    @include lg {
      width: 100%;
      height: 45%;
      margin-left: 0;
      justify-content: flex-end;
      align-items: center;
    }

    @include sm {
      height: 30%;
    }

    &--title {
      font-size: 5rem;

      @include lg {
        font-size: 3rem;
      }
    }
    &--subtitle {
      font-size: 8rem;
      @include lg {
        display: none;
      }
    }

    &--tagline {
      font-size: 4rem;
      font-weight: 600;
      @include lg {
        display: none;
      }
    }
    &--story {
      font-size: 2rem;
      font-weight: 600;
      margin-top: 0.6rem;
      @include lg {
        display: none;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-right: 10%;

    @include lg {
      width: 100%;
      height: 50%;
      margin-right: 0;
      margin-top: 2rem;
      justify-content: center;
      align-items: flex-start;
    }

    &--button {
      height: 4rem;
      width: 20rem;
      font-size: 2rem;
      color: $color-grey-light;
      background-color: $color-orange;
      border: 2px solid $color-grey-light;
      -webkit-appearance: none;
    }

    &--phone {
      font-size: 2rem;
      text-align: center;
      margin-top: 2rem;
      color: $color-white;
    }
  }
  &__image {
    z-index: -1;
    &--overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      color: $color-grey-light;
      background-color: rgba($color-blue-dark, 0.3);
      z-index: 20000000;
    }
    &--wrapper {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      align-items: center;
      width: 100%;
      height: 100%;

      @include lg {
        flex-direction: column;
      }
    }
  }
}
