@import "./variables";

.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $color-blue-dark;
  //   overflow: hidden;

  &__width {
    @include sm {
      width: 26rem;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 24rem;

    @include sm {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__phone {
    display: flex;
    font-size: 1.8rem;
    color: $color-grey-light;
    transition: all 0.3s;

    &:hover {
      color: $color-blue-light;
    }

    &--left {
      width: 6rem;
    }
  }

  &__left {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-grey-light;
    font-size: 1.6rem;
    &--copyright {
      margin: 2rem 0 2rem 2rem;
    }
    &--site {
      margin: 0 0 2rem 2rem;
    }
  }
}
