@import "./variables";

.header {
  display: flex;
  width: 100vw;
  background-color: rgba($color-blue-dark, 1);
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  @include sm {
    padding: 3rem 1.5rem;
  }

  &__left {
    display: flex;
    flex-direction: column;

    &--logo {
      font-size: 4rem;
      font-family: "Oswald", sans-serif;
      font-weight: 800;
      color: $color-grey-light;

      &--blue {
        color: $color-blue-light;
      }

      &--in {
        color: $color-blue-light;
        font-size: 2.6rem;
        font-family: "Oswald", sans-serif;
        font-weight: 800;
        margin-top: -1.6rem;
        margin-left: 6rem;
      }
      &--services {
        color: $color-grey-light;
        font-size: 2.6rem;
        font-family: "Oswald", sans-serif;
        font-weight: 800;
        margin-top: -1.3rem;
        margin-left: 1.7rem;

        &--blue {
          color: $color-blue-light;
          margin-left: 0;
        }
      }
    }
  }

  &__right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    font-size: 1.8rem;

    @include lg {
      width: max-content;
      display: flex;
      flex-direction: column;
      font-size: 1.8rem;
    }

    &--phone {
      display: flex;
      margin-right: 3rem;
      padding-bottom: 1rem;
      &--icon {
        color: $color-orange;
        font-size: 2.2rem;
        margin-right: 2rem;
      }

      &--number {
        color: $color-grey-light;
        text-decoration: none;
        border: none;
      }
    }

    &--email {
      display: flex;
      &--address {
        color: $color-grey-light;
        text-decoration: none;
        border: none;
      }
      &--icon {
        color: $color-orange;
        font-size: 2.2rem;
        margin-right: 2rem;
      }
    }
  }
}
