@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
html {
  font-size: 62.5%;

  @include lg {
    font-size: 55%;
  }
  @include md {
    font-size: 50%;
  }
  @include sm {
    font-size: 45%;
  }
  @include tn {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
