@import "./variables";

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  &__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 3rem;
  }

  &__neg-margin--bottom {
    padding-bottom: 0;
  }

  &__neg-margin--right {
    @include sm {
      margin-right: 1rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 52rem;
    height: 32rem;
    background-color: $color-blue-dark;
    box-shadow: 0 0.6rem 1rem rgba($color-black, 0.2);

    @include sm {
      width: 42.2rem;
      height: 27rem;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    height: 100%;
    justify-content: space-between;
    width: 50%;
    color: $color-grey-light;

    @include sm {
      padding: 1rem 0rem 1rem 1.5rem;
    }

    &--name {
      display: flex;
      flex-direction: column;
      font-size: 2.5rem;
    }

    &--title {
      font-size: 1.6rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    font-size: 1.6rem;
  }

  &__contact {
    font-size: 1.6rem;
  }

  &__right {
    width: 50%;
    margin-right: 1rem;

    @include sm {
      margin-right: 0;
    }

    &--circle {
      height: 25rem;
      width: 25rem;
      border-radius: 100rem;
      object-fit: cover;

      @include sm {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}
